body {
  font-family: "GothamPro", sans-serif;
  font-size: 16px;
  color: #fff;
  background: #32586d;
}

hr {
  margin: 16px 0;
  border: 1px solid rgb(145, 142, 142);
  border-radius: 10px;
}

ul {
  line-height: 1.7;
}
